body {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.actions {
  margin: auto 20px;
}

.icon-container {
  background-color: #80808026;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 10px;
  padding: 5px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.icon-container span {
  font-size: 2em;
  color: dimgray;
}

.picture {
  height: 100%;
  flex: 1;
}
.picture img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
}
